   
    <div class="container">

        <!-- Cabeçalho -->
        <aside class="left-panel">
         
            <div class="top">
                <button class="button" (click)="novoChat()">
                    <i class="fa-solid fa-plus"></i>
                    New Chat
                </button>

            <div class="chat-list">

                @for (chat of chats; track $index) {

                <button class="chat-item" (click)="onChatClick(chat)">
                    <i class="fa-regular fa-message"></i>
                    {{ chat.chatTitle }}
                </button> 

                }

                </div>
            </div>

            <div class="bottom">
             <!--    <button class="item-chat">
                    <i class="fa-regular fa-trash-can"></i>
                    Clear conversations
                </button>

                <button class="item-chat">
                    <i class="fa-regular fa-lightbulb"></i>
                    Light mode
                </button>

                <button class="item-chat">
                    <i class="fa-regular fa-user"></i>
                    My  account
                </button>

                <button class="item-chat">
                    <i class="fa-regular fa-file"></i>
                    Updates & FAQ
                </button> -->

                <button class="item-chat" (click)="deslogar()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Log out
                </button>

                    <button class="item-chat" (click)="ligadesligadarkmode()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Modo Escuro
                </button>

            </div>

        </aside>

        <!-- Conteúdo principal do site -->
        <main class="central-panel">

            @if (chatSelecionado == null) {

            <div class="logo"></div>

            <div class="centro">

                <div class="examples">
                    <p>
                        <i class="fa-regular fa-comments"></i>
                        Examples
                    </p>

                    <button class="item-examples">"Explain quantum computing insimple terms"</button>
                    <button class="item-examples">"Got any creative ideas for a 10year old's birthday?"</button>
                    <button class="item-examples">"How do I make an HTTP requestin Javascript?"</button>
                </div>

                <div class="capabilities">
                    <p>
                        <i class="fa-regular fa-face-smile"></i>
                        Capabilities
                    </p>

                    <button class="item-capabilities">Remembers what user saidearlier in the conversation.</button>
                    <button class="item-capabilities">Allows user to provide follow-up corrections.</button>
                    <button class="item-capabilities">Trained to decline inappropriate requests.</button>
                </div>

                <div class="limitations">
                    <p>
                        <i class="fa-regular fa-circle-question"></i>
                        Limitations
                    </p>
                    
                    <button class="item-liminations">May occasionally generate incorrect information.</button>
                    <button class="item-liminations">May occasionally produce harmful instructions or biased content.</button>
                    <button class="item-liminations">Limited knowledge of world andevents after 2021.</button>

                </div>


            </div>

            }

            @if (chatSelecionado != null) { 
                <!-- Só vai ser executado quando o usuário tiver clicado em um chat -->

                <div class="chat-container"> 

                    <div class="chat-header">

                        <h2>{{ chatSelecionado.chatTitle }}</h2>

                    </div>

                    <div class="chat-messages">

                        @for (msg of mensagens; track $index) {

                            <p class="message-item" [class.chatbot]="msg.userId == 'chatbot'">{{ msg.text }}</p>

                        }

                    </div>

                </div>

                <div class="input-container">

                    <i class="fa-solid fa-microphone"></i>
                    <i class="fa-regular fa-image"></i>

                    <input [formControl]='mensagemUsuario' type="text" placeholder="Type message">

                    <i class="send-button fa-solid fa-paper-plane" (click)="enviarMensagem()"></i>

                </div>

            }

        </main>
        
        <div class="messages">

        </div>

    </div>
